* {
    margin: 0;
    padding: 0;
}

body {
    background: #0c739f;
    background-image: url('../img/bg.jpg');
    background-repeat: repeat-x;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .75);
}

.wrapper::after {
    display: block;
    clear: both;
    content: '';
}

/*HEADER*/

.header {
    padding-right: 30px;
    background: #fff;
}

.logo {
    margin: 0;
    padding: 0;
    float: left;
    background: #fff;
}

.logo2 {
    float: right;
}

.contacts {
    margin: 10px 0 30px 300px;
    color: #5fa5bb;
}

.contacts span {
    display: block;
}

.countries {
    float: right;
}

.countries li {
    display: inline-block;
    margin-left: 15px;
    list-style: none;
    text-align: center;
}

.countries img {
    display: block;
}

.countries a {
    font-size: 8px;
}

.logo::after {
    display: block;
    clear: both;
    content: '';
}

.header::after {
    display: block;
    clear: both;
    content: ' ';
}

.beach {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .75);
}

.beach::after {
    display: block;
    clear: both;
    content: ' ';
}

.menu > ul {
    display: block;
    width: 1000px;
    margin: -3px auto;
    border: 1px	solid #000;
    background: linear-gradient(to bottom, #373737, #303030);
    list-style: none;
    text-align: center;
    -moz-box-shadow: 0 5px 15px 1px rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0 5px 15px 1px rgba(0, 0, 0, .75);
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, .75);
}

.menu ul::after {
    display: block;
    clear: both;
    content: '';
}

.menu li {
    display: inline-block;
    position: relative;
    line-height: 30px;
    text-align: center;
}

.menu a {
    display: block;
    padding: 0 23px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.menu a:hover {
    color: #fff;
}

.submenu {
    display: none;
    position: absolute;
    width: 115%;
    margin-top: -2px;
    border-top: 1px solid #000;
    background: #303030;
    line-height: 40px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, .75);
    z-index: 1;
}

.submenu > li > a:hover {
    text-decoration: underline;
}

.menu li:hover > .submenu {
    display: block;
}

/*SIDEBAR*/

.content {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .75);
    overflow: hidden;
}

.content h3 {
    line-height: 40px;
    text-align: center;
}

.content::after {
    display: block;
    clear: both;
    content: ' ';
}

.left {
    width: 22%;
    margin-bottom: -1500px;
    padding-bottom: 1500px;
    float: left;
    border: 1px solid #c7cacf;
    background-color: #edeef0;
    color: #626a64;
}

.right {
    width: 22%;
    margin-bottom: -1500px;
    padding-bottom: 1500px;
    float: right;
    border: 1px solid #c7cacf;
    background-color: #edeef0;
    color: #626a64;
}

.center {
    width: 56%;
    float: left;
}

/*FOOTER*/

.footer {
    color: #fff;
    line-height: 60px;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}
